body {
    background-color: #FCFBF4;
}
h1, h2, h3 {
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     color: #0A2472;
}
h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 22px; 
}
p, li {
    font-family: "Roboto", sans-serif;
    line-height: 28px;
    font-size: 16px;
}
li {
    padding-left: 10px;
}
a {
    color: #FA003F;
    text-decoration: none;
}
span {
    color: #0A2472;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}
.content {
    width: 40%;
    margin: 50px auto;
}
@media screen and (max-width: 1600px) {
    .content {
        width: 60%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        width: 80%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 700px) {
    .content {
        width: 90%;
        margin: 50px auto;
    }
}

@media screen and (max-width: 300px) {
    .content {
        width: 100%;
        margin: 30px 15px;
    }
}